/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-lonely-bg);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light (300) */
@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semibold (600) */
@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Semibold-Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy (800) */
@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono Powerline';
  src: url('/fonts/SF-Mono-Powerline-Heavy-Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sf-mono: 'SF Mono Powerline', ui-monospace, monospace;


  --color-dracula-purple: #bd93f9;
  --color-dracula-pink: #ff79c6;
  --color-dracula-green: #50fa7b;
  --color-dracula-cyan: #8be9fd;
  --color-dracula-orange: #ffb86c;
  --color-dracula-red: #ff5555;
  --color-dracula-yellow: #f1fa8c;

  --color-dracula-bg: #282A36;

  --color-lonely-key: #e06c75;
  --color-lonely-string: #98c379;
  --color-lonely-number: #d19a66;
  --color-lonely-boolean: #56b6c2;
  --color-lonely-null: #56b6c2;
  --color-lonely-punctuation: #abb2bf;
  --color-lonely-comment: #7f848e;
  --color-lonely-bg: #141821;
  --color-lonely-fg: #a2aabc;

}

* {
  scrollbar-width: thin;
  scrollbar-color: #bd93f9 transparent;
  /* thumb track */
}